.installations-container {
    text-align: center;
    padding: 4vmin;
}

.installations-heading {
    font-size: 5vmin;
    font-weight: bold;
}

.installations-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vmin;
}

.installation-card {
    background-color: #e8f5f1;
    padding: 4vmin;
    border-radius: 1px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 25vmin;
    text-align: center;
}

.installation-title {
    font-size: 2.5vmin;
    font-weight: bold;
    color: #6ca896;
}

.installation-description {
    font-size: 2vmin;
    margin-top: 1vmin;
}

.acknowledgment {
    margin-top: 2vmin;
    font-size: 2.5vmin;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vmin;
}

.acknowledgment-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6ca896;
    color: white;
    padding: 0.5vmin 1vmin;
    border-radius: 5vmin;
    font-size: 1.8vmin;
    white-space: nowrap;
}

.acknowledgment-bubble.hidden {
    display: flex;
    background-color: transparent;
    color: #6ca896;
}

.tick-mark {
    font-size: 2.2vmin;
    cursor: pointer;
    background-color: #a8d5ba;
    color: #36404d;
    padding: 0.7vmin 2vmin;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: all 0.2s ease-in-out;
}

.tick-mark:hover {
    background-color: #96c7a3;
}


.tooltip {
    position: absolute;
    bottom: -3.5vmin;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6ca896;
    color: white;
    padding: 0.5vmin 1vmin;
    border-radius: 5px;
    font-size: 1.5vmin;
    white-space: nowrap;
    display: none;
}

.acknowledgment:hover .tooltip {
    display: block;
}
