.operations-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.cards-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 1px;
  width: 48%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-header {
  border-bottom: 2px solid #6ca896;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.device-info {
  flex: 1;
}

.device-info p {
  margin: 8px 0;
  font-size: 16px;
}

.device-image {
  flex: 1;
  height: 100%;
  background: #d9d9d9;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #555;
  text-align: center;
}

/* Hardware History moved to bottom */
.hardware-history-container {
  margin-top: auto; /* Push to the bottom */
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
}

.hardware-history-container h3 {
  border-bottom: 2px solid #6ca896;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* Adjusted device cards */
.hardware-cards {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.hardware-card {
  background: #f8f9fa;
  padding: 10px;
  border-radius: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 150px;
}

.hardware-card h4 {
  font-size: 14px;
  border-bottom: 1px solid #6ca896;
  font-weight: bold;
  margin: 0px;
  padding-bottom: 5px;
}

.hardware-card p {
  font-size: 14px;
  text-align: start;
}
